/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 2vmin);
  }
  
  h2 {
    color: #61dafb;
    margin-bottom: 2rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #3a3f47;
    padding: 2rem;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;
    color: #ffffff;
  }
  
  .form-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #2c2f33;
    color: white;
    font-size: 1rem;
  }
  
  .form-input::placeholder {
    color: #aaaaaa;
  }
  
  .login-button {
    background-color: #61dafb;
    color: black;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #21a1f1;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }